<div id="v10-product-guarantee">
  <div class="container">
    <div class="head">
      <h3>{{ settings.v10_prod_guarantee_headline }}</h3>
    </div>
    <div class="grids">
      <div class="grid">
      	<img src="{{ settings.v10_prod_guarantee_ico_1 | img_url: '100x100' }}" alt=""/>
        <h5>{{ settings.v10_prod_guarantee_text_1 }}</h5>
        <p>{{ settings.v10_prod_guarantee_body_1 }}</p>
      </div>
      <div class="grid">
      	<img src="{{ settings.v10_prod_guarantee_ico_2 | img_url: '100x100' }}" alt=""/>
        <h5>{{ settings.v10_prod_guarantee_text_2 }}</h5>
        <p>{{ settings.v10_prod_guarantee_body_2 }}</p>
      </div>
      <div class="grid">
      	<img src="{{ settings.v10_prod_guarantee_ico_3 | img_url: '100x100' }}" alt=""/>
        <h5>{{ settings.v10_prod_guarantee_text_3 }}</h5>
        <p>{{ settings.v10_prod_guarantee_body_3 }}</p>
      </div>
    </div>
  </div>
</div>
