{% for c in product.collections %}
{% if c.handle == "best-sellers" %}
{% assign isbestsel = true %}
{% endif %}
{% endfor %}
<div class="respimgsize tt-product product-parent options-js{% if settings.center_product_information %} thumbprod-center{% endif %}{% if settings.show_product_without_hover %} product-nohover{% endif %}">
  <div class="d-block" style="height: 20px; margin-bottom: 10px">
{% if product.metafields.custom_fields["product_tag-sold_out"] == 1 %}
    <span 
          style="display: block;width: 100px;border: 1px solid #000;color: #000;text-transform: uppercase;">
      Sold Out
    </span>
{% elsif product.metafields.custom_fields["product_tag"] == 1 %}
    <span 
          style="background: #f8353e;display: block;width: 100px;border: 1px solid #f8353e;color: #fff;text-transform: uppercase;">
      Sale
    </span>
{% elsif product.metafields.custom_fields["product_tag-new"] == 1 %}
    <span 
          style="background: #04247f;display: block;width: 100px;border: 1px solid #04247f;color: #fff;text-transform: uppercase;">
       New
    </span>
{% elsif product.metafields.custom_fields["product_tag-best_seller"] == 1 %}
    <span 
          style="display: block;width: 120px;border: 1px solid #f8353e;color: #f8353e;text-transform: uppercase;">
      Best Seller
    </span>
	{% else %}
 {% endif %}
  </div>
  <div class="tt-image-box ">
    {%- unless settings.catalogue_mode -%}
    {%- if settings.product_item_show_quickview and template.suffix != "wishlist" -%}
    <a href="#"
       data-toggle="modal"
       data-target="#ModalquickView"
       class="tt-btn-quickview"
       data-value="{{ product.url | within: collection | split: "?" | first }}"
       data-quantity="{% for variant in product.variants %}{% if variant.inventory_policy == "continue" %}{{ variant.id }}-continue{{ variant.inventory_quantity }};{% else %}{{ variant.id }}-{{ variant.inventory_quantity }};{% endif %}{% endfor %}"{% if settings.first_variant_column_is_image and settings.use_in_the_small_products %}
       data-optionimages='{% include 'get_product_images_from_first_column' %}'{% endif %}
       data-tooltip="{{ 'general.tooltip_texts.quick_view' | t }}"
       data-tposition="left"
       ></a>{%- endif -%}

    {{ wishlist_button }}
    {{ compare_button }}

    {%- endunless -%}
    {% if template contains 'sale' %}
      {%- for variant in product.variants -%}
          {%- assign sale_variant = false -%}
          {%- assign sale_tag = 'sale-' | append: variant.sku -%}
          {%- if product.tags contains sale_tag -%}
            {%- assign pr_variant = variant -%}
            {% break %}
          {% endif %}
      {%- endfor -%}
      <a href="{{ product.url | within: collection | append : '?variant=' | append : pr_variant.id }}">
    {% else %}
      <a href="{{ product.url | within: collection }}">
    {% endif %}
      {%- assign main_url_image = main_url_image | product_img_url: url_images_size -%}
      {%- if settings.use_cached_images %}{%- assign main_url_image = main_url_image | split: '?' | first -%}{%- endif -%}
      {% assign feat_image = product.featured_image %}
      {% if current_tags %}
        {% for tag in current_tags %}
          {% assign current_tag = tag | downcase %}
          {% for variant in product.variants %}
            {% assign variant_option1 = variant.option1 | downcase %}
            {% if variant_option1 contains current_tag %}
              {%- assign pr_variant = variant -%}
              {% assign feat_image = pr_variant.image %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
      {% if template contains 'sale' %}
      {%- for variant in product.variants -%}
          {%- assign sale_variant = false -%}
          {%- assign sale_tag = 'sale-' | append: variant.sku -%}
          {%- if product.tags contains sale_tag -%}
            {%- assign pr_variant = variant -%}
            {% assign feat_image = pr_variant.image %}
            {% break %}
          {% endif %}
      {%- endfor -%}
      {% endif %}
      <span class="tt-img">        
        <img class="lazyload"
             data-mainimageratio = '{{ product.featured_image.aspect_ratio }}'
             data-mainimage="{{ feat_image | product_img_url: '100x100' | replace: '100x100', 'respimgsize' }}"
             alt="{{ product.featured_image.alt | escape }}"/>

            {% for tags in product.tags %}
                {% if tags contains 'virtual-try-on' %}
                  <span class="tt-virtual-try-on">VIRTUAL TRY-ON</span>
                {% endif %}
            {% endfor %}

             
      </span>
      {%- if hover_url_image != '' -%}
        {%- assign hover_url_image = hover_url_image | product_img_url: url_images_size -%}
        {%- if settings.use_cached_images %}{%- assign hover_url_image = hover_url_image | split: '?' | first -%}{%- endif -%}
      <span class="tt-img-roll-over">
        <img class="lazyload" src="{{ hover_url_image }}" alt="{{ hover_url_image_alt }}"/>
      </span>
      {%- endif -%}
      

<!-- NEW BADGE -->

      
 {% assign days = 51 %}
{% assign period_time = days | times: 24 | times: 60 | times: 60 %}
{% assign date_now = 'now' | date:'%s' %}
{% assign date_finished = product.published_at | date:'%s' | plus: period_time | date:'%s' %}
 
<!-- LOW STOCK -->
  {% assign product_quantity = 0 %}
{% for variant in product.variants %}
{% assign product_quantity = product_quantity | plus: variant.inventory_quantity %}
{% endfor %}
 
  <!-- BEST SELLER -->
{% assign product_qty = 0 %}
{% for qtty in product.variants %}
{% assign product_qty = product_qty | plus: qtty.inventory_quantity %}
{% endfor %}
      
 {% assign date_qty = 'now' | date:'%s' %}
{% assign date_last = product.published_at | date:'%s' %}

{% include 'product-badge' %}

      
    </a>

    {%- unless settings.catalogue_mode -%}
    {%- if product_meta.countdown != blank and settings.show_product_countdown -%}
    <div class="tt-countdown_box tt-type-02">
      <div class="tt-countdown_inner">
        <div class="tt-countdown" data-date="{{ product_meta.countdown }}"></div>
      </div>
    </div>
    {%- endif -%}
    {%- endunless -%}
  </div>

  <div class="tt-description">
    {%- if settings.show_product_vendor or settings.show_product_type or settings.product_item_show_rating -%}
    <div class="tt-row">

      {%- if settings.show_product_vendor or settings.show_product_type -%}
      <ul class="tt-add-info">
        {%- if settings.show_product_vendor -%}<li><a href="/collections/{% if collection == blank %}all{% else %}{{ collection.handle }}{% endif %}/{{ product.vendor | handle }}"
                                                      class="text-uppercase"
                                                      >{{ product.vendor }}</a></li>{%- endif -%}
        {%- if settings.show_product_type -%}<li><a href="/collections/{% if collection == blank %}all{% else %}{{ collection.handle }}{% endif %}/{{ product.type | handle }}"
                                                    class="text-uppercase"
                                                    >{{ product.type }}</a></li>{%- endif -%}
      </ul>
      {%- endif -%}

    </div>
    {%- endif -%}

    <h2 class="tt-title prod-thumb-title-color">
      <a href="{{ product.url | within: collection }}">
        <h2 class="tt-title prod-thumb-title-color">
        {%- if settings.truncate_product_title -%}
        {{ product.title | strip_html | truncatewords: settings.truncate_product_title_w, settings.truncate_product_title_s }}
        {%- else -%}
        {{ product.title }}
        {%- endif -%}
        </h2>
        {% if template contains 'sale' %}
        {%- for variant in product.variants -%}
            {%- assign sale_variant = false -%}
            {%- assign sale_tag = 'sale-' | append: variant.sku -%}
            {%- if product.tags contains sale_tag -%}
            {%- assign pr_variant = variant -%}
            {%- assign sale_on = true -%}
            {% break %}
            {% endif %}
        {%- endfor -%}
        {% endif %}
        
        {%- unless settings.catalogue_mode -%}
          {%- if settings.product_item_show_rating -%}
            <div class="tt-rating" data-url="{{ product.url | within: collection }}">
              {% render 'okendo-reviews-product-rating-summary', product: product %}
            </div>
          {%- endif -%}
        {%- endunless -%}
        
        <div class="tt-price tst">
        
    
    {%- unless settings.catalogue_mode -%}
    {%- if sale_on -%}
    <span class="new-price">{{ pr_variant.price | money }}</span><span class="currency-code">{{ cart.currency.iso_code }}</span><span class="old-price">{{ pr_variant.compare_at_price | money }}</span><span class="currency-code">{{ cart.currency.iso_code }}</span>
    {%- else -%}
    <span> {{ pr_variant.price | money }}</span><span class="currency-code">{{ cart.currency.iso_code }}</span><span class="old-price hide"></span>
    {%- endif -%}
    {%- endunless -%}
      </div>
      </a>
    </h2>
    
   

    {%- if product_meta.thumbnail_description != blank -%}
    <div class="thumbnail_small_description">
      {{ product_meta.thumbnail_description }}
    </div>
    {%- endif -%}

    <div class="description" style="display:none;">{%- if product_meta.small_description != blank -%}{{ product_meta.small_description }}{%- else -%}{{ product.description | strip | strip_html | truncatewords: settings.truncate_product_description, settings.truncate_product_description_last_symbols }}{%- endif -%}</div>
    
    {%- if product.available or settings.show_unavailable_variants -%}
    {%- include 'product-grid-options' -%}
	{%- endif -%}
    
    {%- unless settings.catalogue_mode -%}
    {%- if product.available -%}
    {%- if settings.product_item_show_cart or settings.product_item_show_quickview -%}
    <div class="tt-product-inside-hover">
      {%- if settings.product_item_show_cart -%}
      <div class="tt-row-btn">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="{{ pr_variant.id }}">
          <button class="tt-btn-addtocart{% if settings.ajax_addtocart %} addtocart-item-js{% endif %}{% unless pr_variant.available %} disable{% endunless %} thumbprod-button-bg"
                  {%- if settings.show_addtocart_popup_related -%}{%- unless product.metafields.description.related_collection == blank -%}data-relatedcollection="{{ product.metafields.description.related_collection }}"{%- endunless -%}{%- endif -%}
                  >
            {% unless pr_variant.available %}
            {{ 'products.general.unavailable_html' | t }}
            {% else %}
            {% if product.selected_or_first_available_variant.inventory_management == 'shopify' and product.selected_or_first_available_variant.inventory_policy == 'continue' and product.selected_or_first_available_variant.inventory_quantity <= 0 %}
            {{ "products.general.preorder_html" | t }}		
            {% else %}
            {{ 'products.general.add_to_cart_html' | t }}
            {% endif %}
            {% endunless %}
          </button>
        </form>
      </div>
      {%- endif -%}
      <div class="tt-row-btn">
      {%- if settings.product_item_show_quickview and template.suffix != "wishlist" -%}
        <a href="#"
           data-toggle="modal"
           data-target="#ModalquickView"
           class="tt-btn-quickview"
           data-value="{{ product.url | within: collection | split: "?" | first }}"
           data-quantity="{% for variant in product.variants %}{% if variant.inventory_policy == "continue" %}{{ variant.id }}-continue{{ variant.inventory_quantity }};{% else %}{{ variant.id }}-{{ variant.inventory_quantity }};{% endif %}{% endfor %}"{% if settings.first_variant_column_is_image and settings.use_in_the_small_products %}
           data-optionimages='{% include 'get_product_images_from_first_column' %}'{% endif %}
           data-tposition="left"
           data-tooltip="{{ 'general.tooltip_texts.quick_view' | t }}"
           ></a>{%- endif -%}
        
        {{ wishlist_button }}
        {{ compare_button }}

      </div>
    </div>
    {%- endif -%}
    {%- endif -%}
    {%- endunless -%}
   
  </div>
  <div class="tt-description onerowactions">
  </div>
</div>

<style>
  span.money {
    font-weight: 600 !important;
    font-size: 16px !important;
    padding-top: 0px;
    color: #000;
}
  .tt-product-listing > .tt-col-item {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 50px;
}
  
</style>