<section class="local-everywhere-area our-values">
  <div class="container">
    <div class="container-inner our-values-inner">
      <div class="left-top-content">
        <h1>{{ block.settings.mainheading }}</h1>
        
      </div>
      <div class="right-bottom-content">
        <div class="single-content-box">
          <h2>{{ block.settings.heading1 }}</h2>
            <p>{{ block.settings.tileText1 }}</p>
        </div>
        <div class="single-content-box">
          <h2>{{ block.settings.heading2 }}</h2>
            <p>{{ block.settings.tileText2 }}</p>
        </div>
        <div class="single-content-box">
          <h2>{{ block.settings.heading3 }}</h2>
            <p>{{ block.settings.tileText3 }}</p>
        </div>
        <div class="single-content-box">
          <h2>{{ block.settings.heading4 }}</h2>
            <p>{{ block.settings.tileText4 }}</p>
        </div>
        <div class="single-content-box">
          <h2>{{ block.settings.heading5 }}</h2>
            <p>{{ block.settings.tileText5 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>