<section class="founder-area-section">
  <div class="container">
    <div class="container-inner founder-area mb-5">
      <div class="left-founder-area">
        <h1 class="mb-5 about-header" style="margin-bottom: 30px;">{{ block.settings.headingFounder }}</h1>
       <img class="about-founder" src="{{ block.settings.founderImage | img_url:"400x400" }}" />
        <p>{{ block.settings.textFounder }}</p>
      </div>
      <div class="left-founder-area right-founder">
        <h1 class="mb-5 about-header" style="margin-bottom: 30px;">{{ block.settings.headingDirector }}</h1>
               <img class="about-founder" src="{{ block.settings.directorImage | img_url:"400x400" }}" />

        <p>{{ block.settings.textDirector }}</p>
      </div>
    </div>
  </div>
</section>

