<style type="text/css">
  .afterpay-paragraph {
    font-size: 14px;
    margin-bottom: 30px;
}
button.shopify-buy__btn {
    padding: 15px 30px!important;
    width: 100%!important;
}
  .tt-product-single-info .tt-wrapper {
    margin-top: 0px !important;
}
  
  /*
.helloca .tt-title-options {
    position: relative;
    top: 90px;
      margin-bottom: 10px;

}
  */
 
  button.shopify-buy__btn {
    border: none;
    color: white;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
   
    border-radius: 0px;
    padding-left: 100px;
    padding-right: 100px;
    
    background-color: #04247f !important;
    
    width: 100%;
}
  
  

  div#product-component-1592765705294 {
   
    max-width: 100% !important;
}
 


  .carousel {
    position: relative;
    width: 97%;
    padding-left: -9px;
    height: -17%;
    /* height: 50%; */
    /* height: 200px; */
    /* padding-top: 68px; */
    height: 339px;
}
    .item.active {
 /*   height: 500px;*/
      height:100%;
}
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto%;
    width: 100%;
  
}
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto !important;
}
  
  div#myCarousel {
    margin-top: 108px;
}
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100% !important;
}
  .item.active img {
    height: 66% !important;
    width: 77%;
    margin-left: 15%;
    margin-top: 41px;
}
  
  .carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    /* -webkit-transform: translate3d(0,0,0); */
    /* transform: translate3d(0,0,0); */
    left: 0;
    border:0px solid black;
}
  
.carousel-inner>.item {
    
    transition: transform .001s ease-in-out,-webkit-transform .001s ease-in-out,-o-transform .001s ease-in-out !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
  
  .col-2.col-md-4.col-lg-3.slick-slide.slick-current.slick-active {
    height: 475px;
}

.respimgsize.tt-product.product-parent.options-js.thumbprod-center.product-nohover {
    height: 100%;
}


p.afterpay-paragraph {
    margin-top: -6px !important;
}
 .tt-swatches-container.tt-swatches-container-js.helloca {
    margin-top: -31px;
}
  ul.tt-options-swatch.options-large {
    margin-top: -15px;
}
  .tt-product-single-info .tt-row-custom-01 .btn.btn-lg {
    font-size: 14px;
    height: 45px !important;
    background: #FE7064;
    border-radius: 0px;
}
  .tt-row-custom-01 {
    margin-top: -14px;
}
span.glyphicon.glyphicon-menu-right {
    font-size: 44px !important;
    margin-left: 9px;
}
  .col-item {
    height: 45px;
}
  .tt-input-counter.style-01 {
    height: 100%;
}
  .tt-collapse-title:after {
    content: "\e9b1";
    font-family: 'wokiee_icons' !important;
    font-weight: 900;
    speak: none;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    right: 5%;
    font-variant: normal;
    display: inline-block;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #191919;
    margin-top: 5px;
}

/*
  .grids .grid:nth-child(1) img {
    margin-top: -45px;
}*/
  
  .tt-product .tt-description .tt-btn-addtocart.thumbprod-button-bg {
    background-color: #04247f;
    border: 0px solid #2879fe;
    color: #fff;
    padding: 5px 10px 5px;
    /* height: 20px !important; */
}
  .shopify-buy__option-select-wrapper {
    border: 0px !important;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    overflow: hidden;
    vertical-align: bottom;
}

select.shopify-buy__option-select__select {
    display: none;
}

  @media screen and (max-width: 400px) {
    
    /* .slick-active {
    width: 348px !important;
}*/
    .tt-product .tt-image-box .tt-img img, .tt-product-design02 .tt-image-box .tt-img img {
    height: 195px;
}
    .tt-product .tt-description, .tt-product-design02 .tt-description {
    margin-top: 68px;
  
}
/*     .slick-active {
    width: 348px !important;
}

.tt-product .tt-image-box .tt-img img, .tt-product-design02 .tt-image-box .tt-img img {
    height: 235px;
}
.tt-product .tt-description, .tt-product-design02 .tt-description {
    margin-top: 68px;
    padding-bottom: 6px;
} */
  }
  
  @media(max-width:767px){
  .tt-product-single-info .tt-row-custom-01 .btn.btn-lg {
    
    height: 55px !important;
    
}
  }
  
  
  @media screen and (max-width: 650px) {
  div#myCarousel {
    margin-top: 0px;
        height: 221px !important;
    margin-left:-9px;
}
    .item.active img {
    height: 49% !important;
}
    .item.active {
    height: 100% !important;
}
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 48%;
    margin-right: 0px !important;
}
    .tt-product-single-info .tt-row-custom-01 .col-item .tt-input-counter.style-01 {
    max-width: 42%;
    
}
.tt-product-single-info .tt-row-custom-01 {
   
    flex-direction: row;
}

.tt-input-counter.style-01 span.plus-btn {
    right: 58px;
}
.tt-product-single-info .tt-row-custom-01 .col-item {
    width: 17%;
}
.tt-input-counter.style-01 span {
    display: inline-block;
    font-size: 27px;
    line-height: 1em;
    cursor: pointer;
    position: absolute;
    width: 31px;
    height: 100%;
    text-align: center;
    top: 0;
    color: #d8d8d8;
}
.tt-product-single-info .tt-input-counter.style-01 input {
    font-size: 14px;
    /* margin-right: -43px; */
    width: 71px;
}
    .carousel-control.left {
    background-image: none;
    /* margin-top: -4px; */
    bottom: 56%;
    left: 3px !important;
}
    
    span.glyphicon.glyphicon-menu-left {
    font-size: 22px !important;
    margin-left: 10px;
}
    span.glyphicon.glyphicon-menu-right
    font-size: 22px !important;
    margin-right: 10px;
}
 
  .tt-product-single-info {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -19px;
}
  .tt-price {
    margin-top: -17px;
}
  	.tt-title-options {
    font-weight: 600;
    color: #191919;
    margin-top: -24px;
}
 #v10-product-guarantee .grids .grid {
    width: 33%;
    box-sizing: border-box;
  
  
}
 
  /*
 
 .grids .grid:nth-child(1) img {
    margin-top: -34px;
}
  
  */
  
  
  div#HAVEYUSEEN h2.tt-title-small {
    TEXT-ALIGN: CENTER;
    text-transform: uppercase;
    margin-bottom: 0PX;
    font-size: 24px;
}

  
  
  
  .tt-logo {
    display: block;
    /* font-size: 30px; */
}
  footer .tt-logo .tt-title {
    padding: 0;
    line-height: 1.1;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 2.42857rem;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 0.06em;
    text-align: center;
    display: block;
    color: black;
} @media only screen and (min-width : 768px) {
     .tag_line.mob {
           margin-bottom: 0px !important;
    display: none;
} 


}
  @media only screen and (max-width : 768px) {
      .tag_line.mob {
    margin-top: 60px;
}


  .tt-product-single-info .tt-price {
    margin: 0px 0px 10px 0px;
  }
    .respimgsize.tt-product.product-parent.options-js.thumbprod-center.product-nohover {
    height: 420px !important;
  }.t-footer-box{width:100% !important}
    footer .tt-footer-box {
    margin-top: 61px;
}
      .glyphicon-menu-right:before {
    font-size: 22px !important;
    content: "\e258";
    margin: 0px;
}      .glyphicon-menu-left:before {
    font-size: 22px !important;
    content: "\e258";
    margin: 5px;
}
    .tag_line.desk {
    display: none;
}
    label {
      margin-left: 15px;}
    input[type=checkbox], input[type=radio] {
        margin: 4px 6px 0 10px; !important}
  }
  h1.tt-title {
    text-transform: uppercase;
}
  .tt-product-single-info .spr-badge-caption {
    color: #191919;
    font-size: 13px;
  }
  
  
  
.tt-swatches-container.tt-swatches-container-js.helloca {
    margin-top: 0px;
    padding-top: 0px;
}

  
  ul.tt-options-swatch.options-large {
    width: 100%;
    padding-bottom: 20px;
}
  
.tt-title-options {

    grid-row-start: 2;
}
  
  .tt-swatches-container.tt-swatches-container-js.helloca .tt-wrapper {
    display: grid;
    grid-template-columns: auto;
}
  
  ul.tt-options-swatch li {
    margin: 0px 20px 0;
  
}
  
  .tt-product-policies {
  
    display: none;
}
  
  .tt-title-options {
   
    margin-top: -13px;
}
  
  div#HAVEYUSEEN {
    padding-bottom: 50px;
}
  
  
  
  /**************************************************/
  
  
@media only screen and (max-width : 767px) {
      
  
  .slick-arrow {
    top: 51%!important;
}
  
  .tt-product span.tt-img {
    height: auto !important;
}
  
  div#HAVEYUSEEN {
    padding: 50px 0px;
    padding-bottom: 50px !important;
}
  
}
  
  
</style>
{%- assign product_meta = product.metafields.description -%}

{%- assign sale_on = false -%}
{%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
  {%- assign sale_on = true -%}
{%- endif -%}

{%- comment -%} Main Image URL. {%- endcomment -%}
{%- assign main_url_image = product.featured_image -%}

{%- comment -%}
date_difference = 60 * 60 * 24 * day counter, this is new product period in seconds
{%- endcomment -%}
  {%- assign date_now = 'now' | date: "%s" -%}
  {%- assign date_published = product.published_at | date: "%s" -%}
  {%- assign date_difference = date_now | minus: date_published -%}
  {%- assign date_limit = 86400 | times: settings.new_product_period -%}
  {%- assign pr_variant = product.selected_or_first_available_variant -%}

{%- assign item = section.settings -%}


{%- include item.page_design -%}

<!-------------------------------- custom sections ----------------------------------------------->
<!-- {% include 'pro-slider-v1' %} -->







{% if product.metafields.product_image.product_image != blank %}

<div id="v10-product-guarantee mb-3" style="padding:0px;padding-top:50px; margin:0px;">
  <div class="container">
    <div class="glide" id="custom_images_slider">
  		<div data-glide-el="track" class="glide__track">
    		<ul class="glide__slides">
              
				{% if product.metafields.product_video_new.product_video_new != blank %}
				
              	<li class="glide__slide">
              		 <div class="grid ligp">
                     <!---  https://player.vimeo.com/video/364618911--->
					<iframe src="https://player.vimeo.com/video/{{product.metafields.product_video_new.product_video_new}}?autoplay=1&muted=1&loop=1&title=0&byline=0&portrait=0&autopause=0" frameborder="0" width="373" height="373" allow=autoplay  fullscreen = "allowfullscreen" ></iframe>
                      <h5 class="hide">{{ settings.v10_prod_slider_text_1 }}</h5>
                      <p class="hide">{{ settings.v10_prod_slider_body_1 }}</p>
                      </div>
              	</li>
               
              {% endif %}
			  
			  {% if product.metafields.product_image.product_image != blank %}
              {%for image in product.metafields.product_image.product_image %}
              	<li class="glide__slide">
              		 <div class="grid ligp">
                      <img src='{{ image }}' alt=""/>
                      <h5 class="hide">{{ settings.v10_prod_slider_text_1 }}</h5>
                      <p class="hide">{{ settings.v10_prod_slider_body_1 }}</p>
                      </div>
              	</li>
              {%endfor%}
			   {% endif %}
			  
<!-- 				{% if product.metafields.custom_fields["product_gallery_image_2"] != blank %}
			  
      			<li class="glide__slide">
              		<a href="#"> <div class="grid ligp">
                      <img src='{{ product.metafields.custom_fields["product_gallery_image_2"] }}' alt=""/>
                      <h5 class="hide">{{ settings.v10_prod_slider_text_2 }}</h5>
                      <p class="hide">{{ settings.v10_prod_slider_body_2 }}</p>
                      </div></a>
              	</li>
				
				 {% endif %}
				 
				 {% if product.metafields.custom_fields["product_gallery_image_3"] != blank %}
				
      			<li class="glide__slide">
              		<a href="#"> <div class="grid ligp">
                      <img src='{{ product.metafields.custom_fields["product_gallery_image_3"] }}' alt=""/>
                      <h5 class="hide">{{ settings.v10_prod_slider_text_3 }}</h5>
                      <p class="hide">{{ settings.v10_prod_slider_body_3 }}</p>
                      </div></a>
              	</li>
              	 {% endif %}
              
              {% if product.metafields.custom_fields["product_custom_image_4"] != blank %}
				
      			<li class="glide__slide">
              		<a href="#"> <div class="grid ligp">
                      <img src='{{ product.metafields.custom_fields["product_custom_image_4"] }}' alt=""/>
                      <h5 class="hide">{{ settings.v10_prod_slider_text_3 }}</h5>
                      <p class="hide">{{ settings.v10_prod_slider_body_3 }}</p>
                      </div></a>
              	</li>
              	 {% endif %}
              
              
              {% if product.metafields.custom_fields["product_custom_image_5"] != blank %}
				
      			<li class="glide__slide">
              		<a href="#"> <div class="grid ligp">
                      <img src='{{ product.metafields.custom_fields["product_custom_image_5"] }}' alt=""/>
                      <h5 class="hide">{{ settings.v10_prod_slider_text_3 }}</h5>
                      <p class="hide">{{ settings.v10_prod_slider_body_3 }}</p>
                      </div></a>
              	</li>
              	 {% endif %} -->
    		</ul>
  		</div>
      	<div class="glide__arrows" data-glide-el="controls">
        	<button class="glide__arrow glide__arrow--left" data-glide-dir="&lt;"><span class="icon-g-08"></span></button>
        	<button class="glide__arrow glide__arrow--right" data-glide-dir="&gt;"><span class="icon-g-09"></span></button>
    	</div>
	</div>
  </div>
</div>
   {% endif %}

<div class="col-md-12 prd_custom-text">
 {% if product.metafields.first_text_span.first_text_span != blank or product.metafields.second_text_span.second_text_span != blank %}
  <div class="local_span_text">
    <span class="span-fst">{{ product.metafields.first_text_span.first_text_span }}</span><br>
  <span class="span-fst">{{ product.metafields.second_text_span.second_text_span }}</span>
  </div>
  {% endif %}
  <br><a class="prd_cus_link" href="{{ section.settings.learn-more-url }}">LEARN MORE</a></div>
{% comment %}
{% include 'product-guarantee' %}
{% include 'product-note-grids' %}
{% endcomment %}


         
     

<!-------------------------------- custom sections ----------------------------------------------->



{%- if item.show_share_buttons -%}
<div class="container-indent wrapper-social-icon">
  <div class="container text-center">
    {%- include 'addthis' -%}
  </div>
</div>
{%- endif -%}

{%- if item.full_width_description != 'default' -%}
{%- if item.full_width_description == 'design_tabs_in_column' -%}
<div class="container-indent product_tabs">
  <div class="container">
    {%- include "product_page_tabs" -%}
  </div>
</div>
{%- elsif item.full_width_description == 'design_tabs_in_row' -%}
{% include "product_page_tabs_horizontal" %}
{%- endif -%}
{%- endif -%}

{%- if item.showalireviewinrow and settings.selectedreviewaapp == 'alireviewapp' -%}
<div class="container-indent product_tabs">
  <div id="tab_review" class="container">
    <div id="shopify-ali-review" product-id="{{ product.id }}"> {{ shop.metafields.review_collector.review_code }}</div>
  </div>
</div>
{%- endif -%}

<div class="container p-3 okendo-reviews-container">
	{% render 'okendo-reviews-widget', product: product %}
</div>

{% include 'prdrec-new' %}

{%- include "product-page-upsellcollection-type2" -%}

{%- capture upsellcollection -%}{%- include "product-page-upsellcollection" -%}{%- endcapture -%}
{%- assign upsellcollection = upsellcollection | strip -%}
{{ upsellcollection }}


{%- if item.show_custom_related -%}
{%- assign product_meta = product.metafields.description -%}
{%- unless product_meta.related_collection == blank -%}
{%- assign name_collection = product_meta.related_collection -%}
{%- assign collection = collections[name_collection] -%}
{%- assign _pr = product.handle -%}
<div class="container-indent">
  <div class="container container-fluid-custom-mobile-padding">
    <div class="tt-block-title text-left">
      <h2 class="tt-title-small">{{ item.custom_related_title }}</h2>
    </div>
    <div class="tt-carousel-products row arrow-location-right-top tt-alignment-img tt-layout-product-item">
     
    </div>
  </div>
</div>
{%- endunless -%}
{%- endif -%}

{%- for block in section.blocks -%}
{%- if block.type == 'recently_view_products' -%}
<div class="container-indent recently_view_products_wokiee hide" data-count="{{ block.settings.product_upsell_collection_count }}">
  <div class="container container-fluid-custom-mobile-padding">
    <div class="tt-block-title text-left">
      {%- if block.settings.title != '' -%}<h2 class="tt-title-small">{{ block.settings.title }}</h2>{%- endif -%}
    </div>
	<div class="recently_view_products-box"></div>
  </div>
</div>
{%- endif -%}
{%- endfor -%}

{%- include "product_page_sticky_addtocart" -%}

{%- include 'product-page-modals' -%}







<!--------- width css ---------------->
<style>
  div#HAVEYUSEEN {
    display: none;
  }
.container.container-fluid-mobile .col-6:first-child {
    width: 65% !important;
    max-width: unset;
    flex: none;
}

.container.container-fluid-mobile .col-6:nth-child(2) {
    width: 35% !important;
    max-width: unset;
    flex: none;
}


 

  p.tag_line {
    font-weight: 500;
    font-size: 14px;
    color: #191919;
    padding-top: 20px;
}
  
  .three_grid p {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #191919;
}
  
  .three_grid ul li img {
    height: 28px;
}
  
  /* slider image */
  
  .carousel-control.left {
  
    background-image: none;
  
}
  
  .carousel-control.right {
  
    background-image: none;
  
}
  
  
.three_grid p {
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}
  

  .carousel-control {
    position: absolute;
    bottom: 10px;
    top: unset;
    left: 0;
    width: 8%;
  }


  span.icon-e-30 {
    color: #000000;
    font-size: 38px;
}
  
  span.icon-e-31 {
    color: #000000;
    font-size: 38px;
}
 .carousel-control {
 
    opacity: 1;
}

  .carousel-indicators li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #EBEBEB;
    border: 0px solid #fff;
    
}
  
  .carousel-indicators .active {
    width: 13px;
    height: 13px;
    margin: 0;
    background-color: #000000;
}
  
  .carousel-indicators {
    bottom: 10px;
}
  
  body:not(.touch-device) ul.tt-options-swatch li .options-color:hover:before {
    border-width: 6px;
    border-radius: 50%;
}
  
  ul.tt-options-swatch li .options-color:after {
    border: 0px solid#04247f;
    border-radius: 50% !important;
}
  
  ul.tt-options-swatch li .options-color:after {
    border: 0px solid#04247f !important;
    border-radius: 50% !important;
}
  
  h2.spr-header-title {
    display: none;
}
  
  }
#shopify-product-reviews .spr-reviews h3 {
    padding-bottom: 0 !important;
    font-size: 15px !important;
}
  
  #shopify-product-reviews .spr-review-content-body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}
  
  .desctop-menu-large .tt-desktop-header .tt-obj-menu .tt-desctop-menu nav > ul > li.dropdown:first-child > a {
    padding-left: 3px;
}
  
  .tab-content.colour ul.tt-options-swatch.options-middle.filtres-js li a {
  
    color: transparent;
   
}
  
  #v10-product-guarantee .grids .grid h5 {
    font-size: 22px;
    color: #04247f;
}
  .spr-summary span.spr-summary-caption {
    display: none;
}
  
  .spr-summary span.spr-starrating.spr-summary-starrating {
    display: none;
}
  
  #shopify-product-reviews .spr-summary .spr-summary-actions a {
    color: #fd7064;
    font-size: 14px;
    text-decoration: underline;
}

  #shopify-product-reviews .spr-container .spr-review-footer a {
    color: #fd7064;
    font-size: 14px;
    text-decoration: underline;
}
  
  p.text_p_notes {
    padding-right: 12%;
}
  
  .mt-4, .my-4 {
    margin-top: 2.5rem !important;
}
  
  
  .current_option_name {
    color: #333333;
}
  
  .tt-title-options {
    font-weight: 600;
    color: #191919;
}
  
</style>

<style>
.grid.ligp img {
    width: 100%!important;
    padding: 0px;
}

.grid.ligp {
    padding: 0px!important;
}
  
button.glide__arrow.glide__arrow--left {
    background: transparent;
    border: none;
    box-shadow: unset;
    color: #150c0a;
    font-size: 38px;
    font-weight: 600;
}
  
  .glide__arrow--left {
    left: 0px;
}
  
  button.glide__arrow.glide__arrow--right {
  background: transparent;
    border: none;
    box-shadow: unset;
    color: #150c0a;
    font-size: 38px;
    font-weight: 600;
  }
  
  
  .glide__arrow--right {
    right: 0px;
}

  section#section_2_for_desktop {
    display: block;
}
  
  
  section#section_2_for_mobile {
    display: none;
}
  
  
/****************************************  Mobile media query ********************************/
  
@media screen and (max-width: 767px) {
  
  .container.container-fluid-mobile .col-6:nth-child(2) {
    width: 100% !important;
    max-width: unset;
    flex: none;
}
  
  .container.container-fluid-mobile .col-6:first-child {
    width: 100% !important;
    max-width: unset;
    flex: none;
}
  
  .col-6.vert_imge {
    padding: 0px;
}
  
  .carousel-control.right {
    right: 4%;
  }
  
  .carousel-control.left {
   
    left: 3%;
  
}
  
  span.icon-e-30 {
    color: #000000;
    font-size: 30px;
}
  
  
  span.icon-e-31 {
    color: #000000;
    font-size: 30px;
}

  p.tag_line {
    font-weight: 500;
    font-size: 12px;
    color: #191919;
    padding-top: 20px;
}
  
  table.cool2 {
    padding: 10px;
    margin: 10px 0px;
 
}
  
  #v10-product-guarantee {
    text-align: center;
    padding: 0px 0;
    margin-bottom: 10px;
}
  
  #v10-product-guarantee .head h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 20px;
}
  
#v10-product-guarantee .grids .grid {
    float: left;
    width: 33%;
}
  
  section.MV_scrto {
    float: left;
    width: 100%;
    padding: 10px;
}
  
  section#section_2_for_desktop {
    display: none;
}
  
  section#section_2_for_mobile {
    display: block;
}
  

  section.MV_scrto h3 {
    margin-top: 0px;
}
  
section.MV_scrto {
    margin-bottom: 20px;
}
  
.tt-description {
    text-align: center;
}
  
  .tt-rating .spr-badge {
    margin: 0px auto;
}
  
  .tt-product .tt-description .tt-price span, .tt-product-design02 .tt-description .tt-price span {
    display: block;
    width: 100%;
}
  
  .product-parent .tt-description .tt-product-inside-hover {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: unset;
}
.tt-product .tt-product-inside-hover > *:nth-child(1), .tt-product-design02 .tt-product-inside-hover > *:nth-child(1) {
    margin-top: 0;
    text-align: center;
    margin: 0px auto;
}
  
  section.MV_scrto {

    padding: 0px 10px;
}
  
  .col-2.col-md-4.col-lg-3.slick-slide.slick-current.slick-active {
    height: auto;
}
                                           
 .container-indent.recently_view_products_wokiee {
    padding-top: 30px;
}
                                           
 .col-2.col-md-4.col-lg-3.slick-slide.slick-current.slick-active {
    height: auto;
}
                                           
.container-indent.recently_view_products_wokiee {
  margin-top: 30px !important;

}
                                           
.container-indent.recently_view_products_wokiee {
    margin-top: 0px !important;
    padding: 0px !important;
}
  
}
  
 
                                           
 
/********************************/
  
  
ul.tt-options-swatch.options-large {
    width: 100%;
   
}
  ul.tt-options-swatch.options-large {
    width: 100%;
}
  a.options-color {
    background-repeat: no-repeat;
    /* width: 37px !important; */
    border-bottom: none !important;
}
  ul.tt-options-swatch li {
    margin: 10px 5px 0;
    width: 27%;
}
  ul.tt-options-swatch li .options-color:before {
    border: 0px;
    width: 100%;
}
  ul.tt-options-swatch li .options-color:before {
    border: 0px;
    width: 100%;
}
  .afterpay-paragraph {
    font-size: 14px;
    margin-bottom: 15px;
}
  #v10-product-guarantee .grids .grid p {
    font-size: 14px;
}
  .carousel-control.left {
    background-image: none;
    /* margin-top: -4px; */
    bottom:56%;;
    left: 23px;
}
 .carousel-control.right {
    background-image: none;
    /* margin-top: -4px; */
   bottom: 56%;
    left: 95.5%;
}
                                           
  span.money {
    font-weight: 400 !important;
    font-size: 18px !important;
    /* padding-top: 10px; */
    color: #000;
    padding-top:0px;
    margin-top:-15%;
}
  .tt-product .tt-description .tt-title {
    font-family: "aktiv-grotesk",sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 0px;
}
  
                                           li.active {
    border-bottom: 2px solid #cec9c9;
    /* width: 24px; */
}
                                           
    ul.tt-options-swatch li {
    margin: 10px 20px 0;
    width: 20%;
}
  
  
/*************************************  27 june css ******************************************/ 
  
div#HAVEYUSEEN {
    padding: 50px 0px;
  padding-bottom:0px;
}
  
  div#myCarousel {
    margin-top: 10%;
}
  
#v10-product-guarantee .grids .grid {
 
    padding: 10px 2vw;
}
  

  
li.active {
    border-bottom: 0px solid #cec9c9;
}
 
.carousel-indicators .active {
 
    margin-right: 5px;
}
  
  ol.carousel-indicators li {
    margin-right: 5px;
}
  
  .tt-options-swatch.options-large li.active .options-color:before {
    border-width: 5px;
    border-bottom: solid 3px #04247f;
    border-radius: 0px;
}
  
  li.active {
    border-bottom: 0px solid #cec9c9;

}
  
  .tt-options-swatch.options-large li.active .options-color:before {
    border-width: 5px;
    border-bottom: solid 3px #04247f;
    border-radius: 0px;
}
  
  ul.tt-options-swatch li {
    margin: 10px 20px 0;
    width: auto;
    margin-left: 10px;
}

  body:not(.touch-device) ul.tt-options-swatch li .options-color:hover:before {
 	 border-width: 5px;
    border-radius: 0px;
}
 
.tag_line.desk {
    padding-top: 8px;
}
  
.tt-product-single-info .tt-options-swatch.options-large li a.options-color[data-optionimage="true"] {
    width: 75px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
}
 /*
  .helloca .tt-title-options {

    top: 100px;

}
  
  */
  
span.tt-img {
    height: auto !important;
}

  .tt-stuck-nav.stuckmenuincenter.stuck {
    opacity: 1 !important;
}
  
div#HAVEYUSEEN  .slick-track {
    width: 100% !important;
}
  
div#HAVEYUSEEN  .col-2.col-md-4.col-lg-3.slick-slide.slick-current.slick-active {
    height: 475px;
    width: 33% !important;
}
  
div#HAVEYUSEEN .col-2.col-md-4.col-lg-3.col-xs-12.slick-slide.slick-active {
    width: 33% !important;
}

 /*****************************************************************************/
  
@media only screen and (max-width: 767px) {
  
    .shopify-buy__btn {
   
    width: 100% !important;
}
  
  #v10-product-guarantee .grids .grid {
    float: left;
    width: 100% !important;
}
  
  
}
.item img {
  object-fit: contain;
}
.glide iframe {
    max-width: 100%;
}
.glide__slides {
  align-items: center;
}
@media (max-width: 768px) {
  div#HAVEYUSEEN .col-2.col-md-4.col-lg-3.col-xs-12.slick-slide.slick-active {
    width: 50% !important;
    flex-basis: 50%;
  }
  div#HAVEYUSEEN .slick-slide {
    width: 50% !important;
    flex-basis: 50%;
    height: auto!important;
  }
  .respimgsize.tt-product.product-parent.options-js.thumbprod-center.product-nohover {
    height: auto!important;
  }
  .tag_line.mob {
    margin-top: 30px;
  }
  .shopify-buy__btn {
    padding: 15px 30px!important;
    width: 100%!important;
  }
  .tt-carousel-products {
    flex-wrap: nowrap!important;
  }
  ul.tt-options-swatch.options-large {
    width: 100%;
    flex-wrap: nowrap;
  }
  .tt-swatches-container.tt-swatches-container-js.helloca {
    margin-top: 0;
  }
  ul.tt-options-swatch li {
    margin: 0px auto 10px auto;
  }
}
@media (max-width: 600px) {
  .slick-arrow {
    top: 25%!important;
  }
  div#myCarousel {
    height: auto !important;
    margin: 0 auto 30px;
  }
  .carousel-control.left {
    left: 5px!important;
    right: auto!important;
  }
  .carousel-control.right {
    left: auto!important;
    right: 5px!important;
  }
  .carousel-control span {
    margin: 0 auto!important;
  }
  .item.active img,
  .item img {
    width: 100%!important;
    margin: 0 auto!important;
  }
  div#HAVEYUSEEN .slick-track {
    display: flex;
  }
  div#HAVEYUSEEN .col-2.col-md-4.col-lg-3.col-xs-12.slick-slide.slick-active {
    width: 50% !important;
  }
  div#HAVEYUSEEN .slick-slide {
    width: 50% !important;
    flex-basis: 50%;
    height: auto!important;
  }
  .tt-product .tt-description, .tt-product-design02 .tt-description {
    margin-top: 30px;
    height: 100%!important;
  }
  
  .slick-list.draggable {
    height: 100% !important;
}
  .tt-product .tt-image-box .tt-img img, .tt-product-design02 .tt-image-box .tt-img img {
    width: 100%;
    height: 100%!important;
    object-fit: contain;
  }
  .shopify-buy__btn {
    padding: 15px 30px!important;
    width: 100%!important;
  }
  
  /********************* slider mobile ********************************/
  .slick-arrow {
    top: 50% !important;
}
  
  .carousel-control.right {
    left: auto!important;
    right: 20px!important;
}
  
  .carousel-indicators {
    bottom: -26px;
}
  
  .carousel-indicators {

    left: 31%;
    
	width: 100%;
}
  
  ul.tt-options-swatch.options-large {
    width: 100%;
    flex-wrap: wrap;
}

  /*****************************************************/
  
  
  
  
}
div#modalAddToCartProduct {
  	background: rgba(0,0,0,0.5);
}
  
  
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
  
@media (max-width: 600px) {
  div#HAVEYUSEEN .col-2.col-md-4.col-lg-3.col-xs-12.slick-slide.slick-active {
    width: 100% !important;
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  div#HAVEYUSEEN .col-2.col-md-4.col-lg-3.col-xs-12.slick-slide.slick-active {
    width: 100% !important;
    flex-basis: 100%;
  }
}
  
  
  /*************  SLIDER CSS **********************/
  
  
@media only screen and (max-width: 767px) {
 
  .glide__arrow {
    top: 43%;
}
  
  
  .glide__arrow--left {
    left: -5% !important;
}
  
  .glide__arrow--right {
    right: -5% !important;
}
  
  .grid.ligp {
    text-align: center;
    width: 100%;
    margin: 0px auto;
}
  
  .tt-block-title .tt-title {
    font-size: 30px;
    line-height: 31px;
}
  
  #v10-product-guarantee .head h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 30px !important;
    line-height: 31px !important;
    font-weight: 500 !important;
}
  
}
  
  
  

  
  
@media only screen and (max-width: 767px) {

  
  /********************* new page 9 nov *****************************/  
  
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 0px;
}
  
  ul.glide__slides .glide__slide {
    padding: 0px!important
  }
  
  .glide__arrow--right {
    right: 0% !important;
}
  
  .glide__arrow--left {
    left: 0% !important;
}
  
  
 .tt-carousel-products .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 1%;
}
  
  #tt-pageContent .container-fluid-custom-mobile-padding {
    padding-right: 15px;
    padding-left: 15px;
}
  
  .tt-layout-product-item {
    margin-left: 5px!important;
    margin-right: 5px !important;
}
 
.pagecollection .tt-product-listing > .tt-col-item, .tt-carousel-products.slick-slider .slick-slide[class^="col-"] {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
  
  
  #v10-product-guaranteeTop .container {
    padding: 0px 15px;
}
  
}
  
  @media(max-width:700px){
.cooolBox .glide__arrow {
    top: 28.5%!important;
      padding: 0px 10px;

}
  .glide__arrow {
    top: 45.5%;
    padding: 0px;
}
    
    .local-product-image-gallery .slick-arrow {
    margin: 0 -8px;
    
    }
    
    .arrow-location-right-top .slick-arrow:before {
    font-size: 26px;
}
    
  }
</style>

 

<script>
var glide = new Glide('#custom_images_slider', {
  type: 'carousel',
  scrollLock: true,
//     hoverpause: false,
//   swipeThreshold: true,
//   dragThreshold:true,
//   autoheight: true,
  perView: 3,
  gap:0,
  breakpoints: {
    
    800: {
      perView: 2
    },
    480: {
      perView: 1
    }
  }
});

glide.mount();

</script>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "header",
        "content": "Page design"
      },
      {
        "type": "textarea",
		"id": "pdpslgn",
        "label": "Product Slogans"
      },
 		{
        "type": "url",
		"id": "learn-more-url",
        "label": "Learn More URL"
      },
      {
        "type": "select",
        "id": "page_design",
        "label": "Page Design",
        "options": [
          {
            "value": "product_page_1_design",
            "label": "Default design"
          },
          {
            "value": "product_page_2_design",
            "label": "Two columns. Gallery left, content right"
          },
          {
            "value": "product_page_3_design",
            "label": "Tree columns"
          }
        ],
        "default": "product_page_1_design"
      },
      {
        "type": "select",
        "id": "full_width_description",
        "label": "Tabs Description Type",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "design_tabs_in_column",
            "label": "Full width tabs in column"
          },
          {
            "value": "design_tabs_in_row",
            "label": "Full width tabs in row"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "showalireviewinrow",
        "label": "Show Ali Review in a separate row",
        "default": true,
		"info": "If ali review app enabled in settings"
      },
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "checkbox",
        "id": "history",
        "label": "Enable swatches history",
        "default": true,
		"info": "Work with browser history"
      },
      {
        "type": "checkbox",
        "id": "show_badge_new",
        "label": "Show Badge New",
        "default": true,
		"info": "Work with product time and metafield editor"
      },
      {
        "type": "checkbox",
        "id": "show_badge_featured",
        "label": "Show Custom Badge(Featured)",
        "default": true,
		"info": "Badge is created using a metafield editor"
      },
      {
        "type": "checkbox",
        "id": "show_review",
        "label": "Show review stars",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tax_text",
        "label": "Show TAX text",
        "default": true,
		"info": "It will work if TAX is enabled in the settings in the Shopify admin panel"
      },
      {
        "type": "checkbox",
        "id": "use_select_button",
        "label": "Show button Select Options",
        "default": false,
		"info": "When product does not have selected variant we can use select your options button"
      },
      {
        "type": "header",
        "content": "Gallery general settings"
      },
      {
        "type": "checkbox",
        "id": "gallery_no_zoom",
        "label": "Gallery zoom",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "gallery_scroll",
        "label": "Gallery scroll zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "stickygallery",
        "label": "Sticky Gallery",
        "default": true
	  },
      {
        "type": "header",
        "content": "Gallery \"Default design\""
      },
      {
        "type": "select",
        "id": "gallery_type",
        "label": "Gallery type",
		"info": "Only for page \"Default design\"",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          },
          {
            "value": "vertical",
            "label": "Vertical"
          },
          {
            "value": "four_images",
            "label": "Four images"
          }
        ],
        "default": "horizontal"
      },
      {
        "type": "checkbox",
        "id": "show_thumbnails",
        "label": "Show thumbnails",
        "default": true,
		"info": "Only for horizontal and vertical \"Gallery type\""
      },
      {
        "type": "checkbox",
        "id": "show_thumbnails_zoom",
        "label": "Enable lightbox for thumbnails",
        "default": true,
		"info": "Alert !!! Works only with thumbnails"
      },
      {
        "type": "header",
        "content": "Product main information"
      },
      {
        "type": "checkbox",
        "id": "show_product_main_info",
        "label": "Show product main information",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sku",
        "label": "Show product SKU",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_qiantity",
        "label": "Show product quantity",
        "default": true
      },
      {
        "type": "header",
        "content": "Trust Badge"
      },
      {
        "type": "checkbox",
        "id": "show_trust_badge",
        "label": "Show trust badge",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_l",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "image_max_width",
        "label": "Trust badge width (in pixels)",
        "default": "541"
      },
      {
        "type": "image_picker",
        "id": "image_lm",
        "label": "Image Mobile"
      },
      {
        "type": "text",
        "id": "image_max_width_m",
        "label": "Trust badge width mobile (in pixels)",
        "default": "541"
      },
      {
        "type": "header",
        "content": "Options Design"
      },
      {
        "type": "select",
        "id": "designoption1",
        "label": "Select design for options 1",
		"info": "After changing, click the Save button.",
        "options": [
          {
            "value": "getButtonHtml",
            "label": "Buttons"
          },
          {
            "value": "getSelectButtonHtml",
            "label": "Combobox"
          }
        ],
        "default": "getButtonHtml"
      },
      {
        "type": "select",
        "id": "designoption2",
        "label": "Select design for options 2",
		"info": "After changing, click the Save button.",
        "options": [
          {
            "value": "getButtonHtml",
            "label": "Buttons"
          },
          {
            "value": "getSelectButtonHtml",
            "label": "Combobox"
          }
        ],
        "default": "getButtonHtml"
      },
      {
        "type": "select",
        "id": "designoption3",
        "label": "Select design for options 3",
		"info": "After changing, click the Save button.",
        "options": [
          {
            "value": "getButtonHtml",
            "label": "Buttons"
          },
          {
            "value": "getSelectButtonHtml",
            "label": "Combobox"
          }
        ],
        "default": "getButtonHtml"
      },
      {
        "type": "header",
        "content": "Product information"
      },
      {
        "type": "checkbox",
        "id": "show_product_info",
        "label": "Show product information",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_vendor",
        "label": "Show product vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_type",
        "label": "Show product type",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_barcode",
        "label": "Show product barcode",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_tags",
        "label": "Show product tags",
        "default": true
      },
      {
        "type": "textarea",
        "id": "product_tab_tags",
        "label": "Popular product tags",
        "info": "Enter all popular tags in this field. Example: dress,tops,shirts"
      },
      {
        "type": "checkbox",
        "id": "product_item_show_wishlist",
        "label": "Show Wishlist Button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_item_show_compare",
        "label": "Show Compare Button",
        "default": true
      },
      {
        "type": "header",
        "content": "Size chart"
      },
      {
        "type": "checkbox",
        "id": "show_sizechart",
        "label": "Show size chart information",
        "default": true
      },
      {
        "type": "textarea",
        "id": "btnname",
        "label": "Button link name",
        "default": "Size Guide"
      },
      {
        "type": "textarea",
        "id": "popupcontent",
        "label": "Modal html content",
        "default": "<h6 class=\"tt-title\">SIZE GUIDE<\/h6>\nThis is an approximate conversion table to help you find your size.\n<div class=\"tt-table-responsive-md\">\n\t<table class=\"tt-table-modal-info\">\n\t\t<thead>\n\t\t\t<tr>\n\t\t\t\t<th>Italian<\/th>\n\t\t\t\t<th>Spanish<\/th>\n\t\t\t\t<th>German<\/th>\n\t\t\t\t<th>UK<\/th>\n\t\t\t\t<th>US<\/th>\n\t\t\t\t<th>Japanese<\/th>\n\t\t\t\t<th>Chinese<\/th>\n\t\t\t\t<th>Russian<\/th>\n\t\t\t\t<th>Korean<\/th>\n\t\t\t<\/tr>\n\t\t<\/thead>\n\t\t<tbody>\n\t\t\t<tr>\n\t\t\t\t<td>34<\/td>\n\t\t\t\t<td>30<\/td>\n\t\t\t\t<td>28<\/td>\n\t\t\t\t<td>4<\/td>\n\t\t\t\t<td>00<\/td>\n\t\t\t\t<td>3<\/td>\n\t\t\t\t<td>155\/75A<\/td>\n\t\t\t\t<td>36<\/td>\n\t\t\t\t<td>44<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>36<\/td>\n\t\t\t\t<td>32<\/td>\n\t\t\t\t<td>30<\/td>\n\t\t\t\t<td>6<\/td>\n\t\t\t\t<td>0<\/td>\n\t\t\t\t<td>5<\/td>\n\t\t\t\t<td>155\/80A<\/td>\n\t\t\t\t<td>38<\/td>\n\t\t\t\t<td>44<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>38<\/td>\n\t\t\t\t<td>34<\/td>\n\t\t\t\t<td>32<\/td>\n\t\t\t\t<td>8<\/td>\n\t\t\t\t<td>2<\/td>\n\t\t\t\t<td>7<\/td>\n\t\t\t\t<td>160\/84A<\/td>\n\t\t\t\t<td>40<\/td>\n\t\t\t\t<td>55<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>40<\/td>\n\t\t\t\t<td>36<\/td>\n\t\t\t\t<td>34<\/td>\n\t\t\t\t<td>10<\/td>\n\t\t\t\t<td>4<\/td>\n\t\t\t\t<td>9<\/td>\n\t\t\t\t<td>165\/88A<\/td>\n\t\t\t\t<td>42<\/td>\n\t\t\t\t<td>55<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>42<\/td>\n\t\t\t\t<td>38<\/td>\n\t\t\t\t<td>36<\/td>\n\t\t\t\t<td>12<\/td>\n\t\t\t\t<td>6<\/td>\n\t\t\t\t<td>11<\/td>\n\t\t\t\t<td>170\/92A<\/td>\n\t\t\t\t<td>44<\/td>\n\t\t\t\t<td>66<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>44<\/td>\n\t\t\t\t<td>40<\/td>\n\t\t\t\t<td>38<\/td>\n\t\t\t\t<td>14<\/td>\n\t\t\t\t<td>8<\/td>\n\t\t\t\t<td>13<\/td>\n\t\t\t\t<td>175\/96A<\/td>\n\t\t\t\t<td>46<\/td>\n\t\t\t\t<td>66<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>46<\/td>\n\t\t\t\t<td>42<\/td>\n\t\t\t\t<td>40<\/td>\n\t\t\t\t<td>16<\/td>\n\t\t\t\t<td>10<\/td>\n\t\t\t\t<td>15<\/td>\n\t\t\t\t<td>170\/98A<\/td>\n\t\t\t\t<td>48<\/td>\n\t\t\t\t<td>77<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>48<\/td>\n\t\t\t\t<td>44<\/td>\n\t\t\t\t<td>42<\/td>\n\t\t\t\t<td>18<\/td>\n\t\t\t\t<td>12<\/td>\n\t\t\t\t<td>17<\/td>\n\t\t\t\t<td>170\/100B<\/td>\n\t\t\t\t<td>50<\/td>\n\t\t\t\t<td>77<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>50<\/td>\n\t\t\t\t<td>46<\/td>\n\t\t\t\t<td>44<\/td>\n\t\t\t\t<td>20<\/td>\n\t\t\t\t<td>14<\/td>\n\t\t\t\t<td>19<\/td>\n\t\t\t\t<td>175\/100B<\/td>\n\t\t\t\t<td>52<\/td>\n\t\t\t\t<td>88<\/td>\n\t\t\t<\/tr>\n\t\t\t<tr>\n\t\t\t\t<td>52<\/td>\n\t\t\t\t<td>48<\/td>\n\t\t\t\t<td>46<\/td>\n\t\t\t\t<td>22<\/td>\n\t\t\t\t<td>16<\/td>\n\t\t\t\t<td>21<\/td>\n\t\t\t\t<td>180\/104B<\/td>\n\t\t\t\t<td>54<\/td>\n\t\t\t\t<td>88<\/td>\n\t\t\t<\/tr>\n\t\t<\/tbody>\n\t<\/table>\n<\/div>",
		"info": "If content is clear buttom link will be hide"
      },
      {
        "type": "header",
        "content": "Shipping"
      },
      {
        "type": "checkbox",
        "id": "show_shipping",
        "label": "Show shipping information",
        "default": true
      },
      {
        "type": "textarea",
        "id": "btnname2",
        "label": "Button link name",
        "default": "Shipping"
      },
      {
        "type": "textarea",
        "id": "popupcontentshipping",
        "label": "Modal html content",
        "default": "<h6 class=\"tt-title\">SHIPPING<\/h6>\n<ul>\n\t<li>Complimentary ground shipping within 1 to 7 business days<\/li>\n\t<li>In-store collection available within 1 to 7 business days<\/li>\n\t<li>Next-day and Express delivery options also available<\/li>\n\t<li>Purchases are delivered in an orange box tied with a Bolduc ribbon, with the exception of certain items<\/li>\n\t<li>See the delivery FAQs for details on shipping methods, costs and delivery times<\/li>\n<\/ul>\n<h6 class=\"tt-title\">RETURNS AND EXCHANGES<\/h6>\n<ul>\n\t<li>Easy and complimentary, within 14 days<\/li>\n\t<li>See conditions and procedure in our return FAQs<\/li>\n<\/ul>",
		"info": "If content is clear buttom link will be hide"
      },
      {
        "type": "header",
        "content": "Message"
      },
      {
        "type": "checkbox",
        "id": "show_message",
        "label": "Show message",
        "default": true
      },
      {
        "type": "textarea",
        "id": "btnname3",
        "label": "Button link name",
        "default": "Ask about this product"
      },
      {
        "type": "header",
        "content": "Product page - three columns"
      },
      {
        "type": "textarea",
        "id": "prpage_tree_col_html",
        "label": "Custom html",
		"default": "<div class=\"tt-services-aside\">\n\t<a href=\"#\" class=\"tt-services-block\">\n\t\t<div class=\"tt-col-icon\">\n\t\t\t<i class=\"icon-f-48\"><\/i>\n\t\t<\/div>\n\t\t<div class=\"tt-col-description\">\n\t\t\t<h4 class=\"tt-title\">FREE SHIPPING<\/h4>\n\t\t\t<p>Free shipping on all US order or order above $99<\/p>\n\t\t<\/div>\n\t<\/a>\n\t<a href=\"#\" class=\"tt-services-block\">\n\t\t<div class=\"tt-col-icon\">\n\t\t\t<i class=\"icon-f-35\"><\/i>\n\t\t<\/div>\n\t\t<div class=\"tt-col-description\">\n\t\t\t<h4 class=\"tt-title\">SUPPORT 24\/7<\/h4>\n\t\t\t<p>Contact us 24 hours a day, 7 days a week<\/p>\n\t\t<\/div>\n\t<\/a>\n\t<a href=\"#\" class=\"tt-services-block\">\n\t\t<div class=\"tt-col-icon\">\n\t\t\t<i class=\"icon-e-09\"><\/i>\n\t\t<\/div>\n\t\t<div class=\"tt-col-description\">\n\t\t\t<h4 class=\"tt-title\">30 DAYS RETURN<\/h4>\n\t\t\t<p>Simply return it within 30 days for an exchange.<\/p>\n\t\t<\/div>\n\t<\/a>\n<\/div>",
		"info": "For page design \"Tree columns\". [Icons](\/\/portotheme.com\/shopify\/wokiee\/icons)"
      },
      {
        "type": "header",
        "content": "Custom related products"
      },
      {
        "type": "checkbox",
        "id": "show_custom_related",
        "label": "Show сustom related products",
        "default": true,
		"info": "Work with the metafield product. See documentation"
      },
      {
        "type": "textarea",
        "id": "custom_related_title",
        "label": "Custom related products title",
        "default": "CUSTOM PRODUCTS"
      }
    ],
    "blocks": [
      {
        "type": "tab_desc",
        "name": "Description Tab",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
			"label": "Title",
            "default": "DESCRIPTION"
          },
          {
            "type": "checkbox",
            "id": "open_tab_by_default",
            "label": "Open tab by default",
            "default": false
          }
        ]
      },
      {
        "type": "tab_same_html",
        "name": "General Html Tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "GENERAL TAB"
          },
          {
            "type": "textarea",
            "id": "html",
            "label": "Custom Html"
          },
          {
            "type": "checkbox",
            "id": "open_tab_by_default",
            "label": "Open tab by default",
            "default": false
          }
        ]
      },
      {
        "type": "tab_unique",
        "name": "Unique Tab",
        "settings": [
          {
            "type": "paragraph",
            "content": "Work with [APP metafield](https:\/\/apps.shopify.com\/metafields-manager-by-hulkapps)"
          },
          {
            "type": "paragraph",
            "content": "Namespace = description. Write your key name and use this name in metafield editor as key name."
          },
          {
            "type": "text",
            "id": "key",
            "label": "Key",
			"default": "Key name"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Tab Title",
			"default": "UNIQUE TAB"
          },
          {
            "type": "checkbox",
            "id": "open_tab_by_default",
            "label": "Open tab by default",
            "default": false
          }
        ]
      },
      {
        "type": "tab_review",
        "name": "Review Tab",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "REVIEWS"
          },
          {
            "type": "checkbox",
            "id": "open_tab_by_default",
            "label": "Open tab by default",
            "default": false
          }
        ]
      },
      {
        "type": "related_products",
        "name": "Old. Related Products",
		"limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Work with old shopify method by tags"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "RELATED PRODUCTS"
          },
          {
            "type": "text",
            "id": "product_upsell_collection_count",
            "label": "Count",
            "default": "8",
            "info": "Integer"
          }
        ]
      },
      {
        "type": "related_products_type2",
        "name": "New. Related Products",
		"limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Dynamic recommendations change and improve over time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "RELATED PRODUCTS"
          },
          {
            "type": "text",
            "id": "product_upsell_collection_count",
            "label": "Count",
            "default": "8",
            "info": "Integer"
          }
        ]
      },
      {
        "type": "recently_view_products",
        "name": "Recently Viewed Products",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "RECENTLY VIEWED PRODUCTS"
          },
          {
            "type": "text",
            "id": "product_upsell_collection_count",
            "label": "Count",
            "default": "8",
            "info": "Integer"
          }
        ]
      },
      {
        "type": "addition_button",
        "name": "Addition Button",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "richtext",
            "id": "addition_button",
            "label": "Addition Button"
          }
        ]
      }
	]
  }
{% endschema %}